.default-box {
	border-radius: 2%;
	box-shadow: 3%;
	background-color: #eee;
}

.editor-box .post-button {
	margin-top: 2%;
}

.alt-editor {
	position: relative;
}

.alt-editor .text-editor {
	width: 100%;
	left: 0;
	min-height: 40px;
	overflow: hidden;
	transition: all 0.3s ease;
	position: absolute;
	bottom: 0;
}